
.body{
  background: linear-gradient(135deg, rgb(34,193,195) 0%,     rgb(220, 39, 202) 100%) !important;

}
/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f2ccc;
  padding: 10px 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

nav .logo img {
  height: 50px;
}

nav button {
  background-color: #e53935;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
}

/* Container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  height: calc(100vh - 80px);
  color: white;
  overflow-y: auto;
  /* background: linear-gradient(135deg, rgb(34,193,195) 0%,     rgb(220, 39, 202) 100%) !important; */
  background-color: rgb(27, 28, 29);
  padding: 20px;
}

/* Profile */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.profile img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

hr {
  width: 70%;
  border-top: 2px solid #ddd;
  margin-bottom: 30px;
}

/* Buttons */
.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

.buttons button {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #3c4fb9;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

/* Users Modal */
.modal-header {
  background-color: #3f51b5;
  color: white;
  text-align: center;
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.modal-footer button {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #3f51b5;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.modal-body table {
  margin-top: 20px;
  width: 100%;
}

.modal-body table th {
  background-color: #3f51b5;
  color: white;
  font-weight: bold;
  text-align: center;
}

.modal-body table td,
.modal-body table th {
  border: 2px solid #ddd;
  padding: 8px;
}

.modal-body table td {
  text-align: center;
}

.modal-body table tbody {
  max-height: 400px;
  overflow-y: auto;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  nav .logo img {
    height: 40px;
  }

  nav button {
    font-size: 14px;
    padding: 8px 16px;
  }

  .container {
    margin-top: 100px;
    padding: 10px
  }}