.bg-01-1-icon,
.top-bar-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 72px;
  height: 70px;
}
.bg-01-1-icon {
  width: 1441px;
  height: 1024px;
  object-fit: cover;
}
.dashboard-remove-money-child {
  position: absolute;
  top: 0;
  left: -1px;
  background-color: #251f47;
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.16);
  width: 1441px;
  height: 72px;
}
.remove-money {
  position: absolute;
  top: 27px;
  left: 675px;
  display: inline-block;
  width: 132px;
  height: 25px;
}
.dashboard-remove-money-item {
  position: absolute;
  top: 88px;
  left: 390px;
  border-radius: 33px;
  background-color: #4b3c9d;
  width: 642px;
  height: 608px;
}
.dashboard-remove-money-inner {
  cursor: pointer;
  border: 4px solid rgba(154, 120, 181, 0.97);
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 602px;
  left: 598px;
  border-radius: 40px;
  background: linear-gradient(90deg, #0844df, #2aa4ae 99.99%, #756989);
  box-sizing: border-box;
  width: 254px;
  height: 78px;
}
.enter-the-amount,
.remove-money1 {
  position: absolute;
  display: inline-block;
}
.remove-money1 {
  top: 626px;
  left: 637px;
  font-size: 24px;
  font-family: var(--font-inter);
  width: 204px;
  height: 28px;
}
.enter-the-amount {
  top: 108px;
  left: 401px;
  font-size: 32px;
  font-weight: 500;
  width: 631px;
  height: 53px;
}
.se-logog-photoaidcom-cropped-1 {
  position: absolute;
  top: 9px;
  left: 13px;
  width: 55px;
  height: 55px;
  object-fit: cover;
}
.atom-input-container-sizes {
  border: 1px solid #e3e8ee;
  font-weight: 500;
  font-family: var(--font-inter);
  font-size: 14px;
  background-color: var(--base-white);
  position: absolute;
  top: 177px;
  left: 431px;
  border-radius: 20px;
  box-shadow: var(--light-elevation-200);
  box-sizing: border-box;
  width: 560px;
  height: 80px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 8px;
  align-items: flex-start;
  justify-content: center;
}
.atom-input-container-sizes1 {
  position: absolute;
  top: 356px;
  left: 431px;
  mix-blend-mode: normal;
}
.purpose {
  position: absolute;
  top: 278px;
  left: 410px;
  font-size: 25px;
  line-height: 20px;
  font-weight: 500;
  font-family: var(--font-inter);
  display: flex;
  align-items: center;
  width: 126px;
  height: 59px;
}
.dashboard-remove-money {
  position: relative;
  background-color: var(--base-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: 16px;
  color: var(--base-white);
  font-family: var(--font-poppins);
}
